
@{
    ViewData["Title"] = "Home Page";
}

<!-- SLIDER -->
<!-- START SLIDER -->
<div id="slider" class="layers-slider">
    <div class="shadowWrapper">
        <div id="layerslider_1" style="margin: 0px auto; width: 1000px; height: 380px; ">
            <div class="ls-layer" style="background-image: url(images/slider-parallax/bg.jpg );slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                <!--img class="ls-s1" src="~/images/slider-parallax/023.png" alt="sublayer" style="position: absolute; top: 180px; left: 60px; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 2000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 100; delayout : 0;" /-->
                <!--a href="#" target="_self" class="ls-s3" style="position: absolute; top: 330px; left:128px; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 2000; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 150; delayout : 0;"><img src="~/images/slider-parallax/033.png" alt="sublayer" /></!-a-->
                <img class="ls-s1" src="~/images/slider-parallax/012.png" alt="sublayer" style="position: absolute; top: 60px; left: 500px; slidedirection : right; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 400; delayout : 0;" />
            </div>
            <div class="ls-layer" style="background-image: url(images/slider-parallax/bg2.jpg );slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                <img class="ls-s2" src="~/images/slider-parallax/013.png" alt="sublayer" style="position: absolute; top: 40px; left: 60px; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 2500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0;" />
                <!--img class="ls-s3" src="~/images/slider-parallax/024.png" alt="sublayer" style="position: absolute; top: 100px; left: 530px; slidedirection : bottom; slideoutdirection : bottom; parallaxin : .45; parallaxout : .45; durationin : 300; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 800; delayout : 0;" /-->
                <!--img class="ls-s5" src="~/images/slider-parallax/034.png" alt="sublayer" style="position: absolute; top: 186px; left: 650px; slidedirection : bottom; slideoutdirection : bottom; parallaxin : .45; parallaxout : .45; durationin : 300; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 850; delayout : 0;" /-->
                <!--a href="#" target="_self" class="ls-s1" style="position: absolute; top: 240px; left:530px; slidedirection : bottom; slideoutdirection : bottom; parallaxin : .45; parallaxout : .45; durationin : 300; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 900; delayout : 0;"><img src="~/images/slider-parallax/042.png" alt="sublayer" /></!--a-->
            </div>
            <div class="ls-layer" style="background-image: url(images/slider-parallax/l3.jpg );slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                <!--img class="ls-s13" src="~/images/slider-parallax/l37.png" alt="sublayer" style="position: absolute; top: -114px; left: -56px; slidedirection : right; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0;" />
                <img class="ls-s15" src="~/images/slider-parallax/l38.png" alt="sublayer" style="position: absolute; top: -124px; left: -55px; slidedirection : right; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0;" /-->
                <img class="ls-s4" src="~/images/slider-parallax/l35.png" alt="sublayer" style="position: absolute; top: 60px; left: 500px; slidedirection : right; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 400; delayout : 0;" />
            </div>
        </div>
        <div class="shadow-left"></div>
        <div class="shadow-right"></div>
    </div>
</div>
<!-- END SLIDER -->
<script type="text/javascript" src="~/js/layer-slider.js"></script>
<!-- /SLIDER -->


<div id="primary" class="layout-sidebar-no home-section">
    <div class="inner group">
        <!-- START CONTENT -->
        <div id="content" class="group">
            <div class="page type-page status-publish hentry group">

                <div class="one-fourth">
                    <h4>Uygun fiyat</h4>
                    <p><img title="001" src="images/homes/00112.jpg" alt="" width="220" height="81" /></p>
                    <p>En uygun otel fiyatları sizlerle.</p>
                </div>

                <div class="one-fourth">
                    <h4>Konfor</h4>
                    <p><img title="002" src="images/homes/0024.jpg" alt="" width="220" height="81" /></p>
                    <p>Aman efendim! Evinizdeki konfordan hiç eksik eder miyiz sizi.</p>
                </div>

                <div class="one-fourth">
                    <h4>Hepsi birbirinden iyi</h4>
                    <p><img title="003" src="images/homes/0036.jpg" alt="" width="220" height="81" /></p>
                    <p>Otelleri karşılaştırın ve kendiniz için en uygun oteli seçin.</p>
                </div>

                <div class="one-fourth last">
                    <h4>Rezervasyon işlemleri</h4>
                    <p><img title="04" src="images/homes/04.jpg" alt="" width="220" height="81" /></p>
                    <p>Göster butonuna tıklayarak istediğiniz otelin sitesine gidip rezervasyon işlemlerinizi gerçekleştirebilirsiniz.</p>
                </div>

            </div>
        </div>
        <!-- END CONTENT -->
    </div>
</div>
<div class="clear"></div>


